Options -Indexes

RewriteEngine On

RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteRule .* https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/$
RewriteRule . /proxy-process.php [L]

php_flag display_startup_errors off
php_flag display_errors off
php_flag html_errors off
php_flag  log_errors on

#php_value error_log /tmp/php_errors.log


